.centrado{
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

.imagen-portada {
    position: relative; 
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5%;
    display: block;
}

.titulo-superior {
    text-align: center;
    position: absolute; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: white; 
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
}

.form-destino{
    background-color: rgb(193, 188, 188);
}

.pagina{
    background-color:rgb(213, 244, 255);
}

.footer-img{
    width: 10px;
    height: 10px;
    
}

.footer-pag{
    background-color: rgb(50, 49, 49);
    text-align: center;
    color: white;
    padding: auto;
}

.cartas{
 text-align: center;
 align-items: center;
}