body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h2 {
    margin-bottom: 30px;
}
.centrado{
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}