<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css" type="TEXT/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="reservas.js" type="TEXT/javascript"></script>
  <title>Inicio</title>
  <link rel="icon" href="img/avion.png">
</head>
<header>
  <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand botonsin" href="index.html">CodeNinjas viajes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active botonsin" aria-current="page" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonsin" href="Reserva.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonsin" href="https://www.despegar.com.ar/" target="_blank">Ir a despegar</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle botonsin" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mas lugares
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item botonsin" href="Buenos Aires.html">Buenos Aires</a></li>
              <li><a class="dropdown-item botonsin" href="SantaCruz.html">Santa Cruz</a></li>
              <li><a class="dropdown-item botonsin" href="Mendoza.html">Mendoza</a></li>
              <li><a class="dropdown-item botonsin" href="cordoba.html">Cordoba</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link botonsin" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<body class="pagina">
  <!-- Contenido de la página aquí -->
  <div id="carouselExampleCaptions" class="carousel slide container" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active imagen-carusel">
        <img src="img/inicio/BuenosAires.jpeg" class="d-block w-100" alt="Buenos Aires">
        <div class="carousel-caption d-none d-md-block">
          <h5>Buenos Aires</h5>
          <p>Cosmopolita, tango, arquitectura ecléctica y pasión futbolera.</p>
        </div>
      </div>
      <div class="carousel-item imagen-carusel">
        <img src="img/inicio/Mendoza.jpg" class="d-block w-100" alt="Mendoza">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mendoza</h5>
          <p> Viñedos, montañas, vino exquisito y aventuras al aire libre.</p>
        </div>
      </div>
      <div class="carousel-item imagen-carusel">
        <img src="img/inicio/Cordoba.webp" class="d-block w-100" alt="Cordoba">
        <div class="carousel-caption d-none d-md-block">
          <h5>Cordoba</h5>
          <p>Encanto colonial, sierras majestuosas y cultura vibrante.</p>
        </div>
      </div>
      <div class="carousel-item imagen-carusel">
        <img src="img/inicio/SantaCruz.webp" class="d-block w-100" alt="Santa Cruz">
        <div class="carousel-caption d-none d-md-block">
          <h5>Santa Cruz</h5>
          <p>Glaciares, naturaleza salvaje y paisajes vírgenes en la Patagonia argentina.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <section class="d-flex flex-wrap justify-content-center container cards">
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/bsas2.jpg" class="card-img-top" alt="Buenos Aires">
        <div class="card-body">
          <h5 class="card-title centrado">Buenos Aires</h5>
          <p class="card-text">Descubre Buenos Aires, una vibrante mezcla de cultura, historia y vida nocturna, donde cada esquina cuenta una historia única y apasionante.</p>
          <a href="Buenos Aires.html" class="btn btn-primary botonsin">Ingrese aqui</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/contacto.png" class="card-img-top" alt="Contacto">
        <div class="card-body">
          <h5 class="card-title centrado">Contacto</h5>
          <p class="card-text">¿Tienes preguntas, comentarios o simplemente quieres decir hola? Estamos aquí para escucharte. Completa el formulario de contacto a continuación y nos pondremos en contacto contigo lo antes posible.</p>
          <a href="Reserva.html" class="btn btn-primary botonsin">Contactanos!!!</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/Mendoza2.jpg" class="card-img-top" alt="Mendoza">
        <div class="card-body">
          <h5 class="card-title centrado">Mendoza</h5>
          <p class="card-text">Explora Mendoza, un paraíso vinícola rodeado de majestuosas montañas, donde cada sorbo de vino revela el alma de Argentina.</p>
          <a href="Mendoza.html" class="btn btn-primary botonsin" >Ingrese aqui</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/cordoba2.jpg" class="card-img-top" alt="Cordoba">
        <div class="card-body">
          <h5 class="card-title centrado">Cordoba</h5>
          <p class="card-text">Vive Córdoba, donde la rica herencia colonial se encuentra con paisajes serranos impresionantes, ofreciendo una experiencia auténtica y vibrante en cada rincón.</p>
          <a href="cordoba.html" class="btn btn-primary botonsin">Ingrese aqui</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/despegar.jpg" class="card-img-top" alt="Despegar">
        <div class="card-body">
          <h5 class="card-title centrado">Despegar</h5>
          <p class="card-text">Viaja con Despegar.com, tu aliado para descubrir el mundo con las mejores ofertas, facilidad de reserva y una experiencia de viaje sin complicaciones.</p>
          <a href="https://www.despegar.com.ar/" class="btn btn-primary botonsin">Visita la pagina</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 cartas">
      <div class="card mb-3">
        <img src="img/inicio/santacruz2.jpg" class="card-img-top" alt="Santa Cruz">
        <div class="card-body">
          <h5 class="card-title centrado">Santa Cruz</h5>
          <p class="card-text">Descubre Santa Cruz, un destino de paisajes épicos y naturaleza indómita, donde los glaciares y la vida salvaje te dejan sin aliento.</p>
          <a href="SantaCruz.html" class="btn btn-primary botonsin">Ingrese aqui</a>
        </div>
      </div>
    </div>
  </section>  
  <footer class="footer-pag">
    <p>Contacto: <a href="mailto:codeninjas827@gmail.com">codeninjas827@gmail.com</a></p>
    <p>Teléfono: +123456789</p>
    <p>Síguenos en redes sociales:</p>
    <ul type="none" class="redes-sociales">
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
    </ul>
    <p>&copy; 2024. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
