body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgba(8, 57, 88, 0.938);
}

.container{
    margin-top: 50px;
}

.formu{
    background-color: rgb(50, 49, 49);
    border-radius: 10px;
    color: #fffe;
    padding: 40px;
}
.titulaso{
    font-weight: bold;
}
.formu button:hover{
    background-color: #fff;
    border: 1px solid #0d9ad0;
    color: #0d9ad0;
    font-weight: bold;
}
.formu a:hover{
    background-color: #fff;
    border: 1px solid #0d9ad0;
    color: #0d9ad0;
    font-weight: bold;
}
.regi{
    font-size: 0.65em;
}

h2 {
    margin-bottom: 30px;
}
.centrado{
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}