@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    font-family: montserrat;
}


.centrado{
    text-align: center;
    font-weight: bold;
    padding: 5px; 
}
.principal-santa{
    background-image: url(https://uhdwallpapers.org/uploads/converted/18/08/01/perito-moreno-glacier-picture-2880x1620_45649-mm-90.webp);
}
.principal-ba{
    background-image: url(https://wallpapercave.com/wp/wp1878475.jpg);
}
.principal-mendo{
    background-image: url(https://wallpapercave.com/wp/wp3119452.jpg);
}
.principal-cor{
    background-image: url(https://c0.wallpaperflare.com/path/631/387/741/argentina-la-cumbrecita-sky-clouds-01acf3ffa95711baa43b696aff6f6777.jpg);
}
.principal{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 50px;

}.principal-cont{
    position: relative;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent,#111c);
    padding-top: 200px;
    text-align: center;
    color: #fff;

}
.portada{
    height: 80vh;
}

.imagen-carusel {
    position: relative; 
    width: 60%;
    max-width: 60%;
    height: auto;
    padding: 10px;
    border-radius: 5%;
    display: block;
    margin-left: 20%;
}

.titulo-superior {
    text-align: center;
    position: absolute; 
    top: 75%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 2;
    color: white; 
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
}



.pagina{
    background-color:rgba(8, 57, 88, 0.938);
}
.footer-pag{
    background-color: rgb(50, 49, 49);
    text-align: center;
    color: white;
    padding: auto;
}
.footer{
    background-color: rgb(50, 49, 49);
    color: #fffd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 44vh;
    justify-content: space-around;
    padding: 10px;
} 
.footer-titulo{
    font-weight: bold;
    padding-top: 10px;
}
.footer-ubi{
    box-sizing: border-box;
    border-right: 1px solid #bbb9;
    width: 30%;
    height: 80%;
    text-align: center;
} .footer-ubi iframe{
    box-sizing: border-box;
    border-radius: 5px;
    width: 80%;
    height: 70%;
    box-shadow: 0 0 4px 0 white;
}
.footer-cont{
    width: 30%;
    height: 80%;
    
    } .footer-cont-tit{
        text-align: center;
        }
    .footer-cont-link{
        padding-left: 5vw;
        height: 60%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: safe; 
    } .footer-cont-link p{
        width: 80%;
    }.footer-cont-link i{
        font-size: 2em;
        padding-right: 10px;
    }.footer-cont-link a{
        text-decoration: none;
        color: #fff;
    }
.footer-red{
    width: 30%;
    height: 80%;
    border-left: 1px solid #bbb9;
    
} 
.footer-red-a{
        text-align: center;
        height: 50%;
        padding: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
}
.footer-red-a i{
    font-size: 3em;
    text-shadow: 1px white; 
    padding: 0 20px;
}

.footer-der{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 0;
}
.cartas{
    text-align: center;
    align-items: center;
    padding: 3%;
}
.botonsin:hover{
    background-color: aquamarine;
}
.card-body{
    background-color: rgb(50, 49, 49);
    color: #fff;
}.card-text{
    color: #fff;
    text-align: center;
}.card-title{
    color: #fff;
}
.card-body > a{
    display: block;
    width: 150px;
    margin: auto;
    transition: 1s;
}
.card-body > a:hover{
    background-color: #fff;
    border: 1px solid #0d9ad0;
    color: #0d9ad0;
    font-weight: bold;
}
.botones >button:hover{
    background-color: #fff;
    border: 1px solid #0d9ad0;
    color: #0d9ad0;
    font-weight: bold;
}
.cartel{
    height: 30vh;
}
#titulo-form{
    height: 2em;
}

.form-destino{  
    color: #fffe;
    border-radius: 10px;
}.form-destino form{
    height: 40vh;
}
.reserva-principal{
    background-color: rgb(50, 49, 49);
    color: #fffe;
    border-radius: 10px;
    height: 90vh;
}
.reserva-row{
    justify-content: space-evenly;
}
.reserva{
    border-radius: 10px;
    background-image: url(https://img.freepik.com/fotos-premium/turistas-felices-exploran-lugares-interes-nuevo-concepto-viaje-region_892345-1549.jpg?w=740);
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 5vh;        
}
.reserva-encima{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #1119;
    
}
.reserva-data{
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(transparent,#1119);
    text-align: center;
    padding-top: 5vh;
    font-weight: bold;
}
#reserva-data-texto{
    margin-top: 60%;
    font-weight: bold;
}

#form-tit{
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}


@media screen and (max-width: 990px){
    .footer{
        height: 50vh;
    }
    .cartel{
        height: 50vh;
    }
    .footer-red-a { 
        flex-wrap: wrap;
    }
    .footer-cont-link i{
        display: block;
    }
}
@media screen and (max-width: 570px){
    .footer{
        height: 60vh;
    }
    .cartel{
        height: 50vh;
    }
    .footer-red-a { 
        flex-wrap: wrap;
    }
    .footer-cont-link i{
        display: block;
    }
}
